{% extends "base.html" %}

{% block body %}
    <div class="container mt-3">
        <h2 style="color: orange;">Usuários</h2><br>
        {% for usuario in lista_usuarios %}
            <div class="container mt-5 d-flex justify-content-center">
                <div class="card p-3" style="box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);">
                    <div class="d-flex align-items-center">
                        <div class="image me-2">
                            <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}"
                                class="rounded" width="200">
                        </div>
                        <div class="ml-3 w-100">
                            <h4 class="mb-0 mt-0">{{ usuario.username }}</h4>
                            <span>{{ usuario.email }}</span>
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                <div class="d-flex flex-column">
                                    {% if "Não Informado" in usuario.cursos %}
                                        <span class="articles">Cursos</span>
                                        <span class="number1">0</span>
                                    {% else %}
                                        <span class="articles">Cursos</span>
                                        <span class="number1">{{ usuario.cursos.count(";") + 1 }}</span>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="rating">Posts</span>
                                    <span class="number3">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5 d-flex justify-content-center">
                <div class="row">
                    <div class="col text-center mb-4">
                        <strong><h4>Cursos</h4></strong>
                        <div class="btn-group d-flex flex-wrap justify-content-center">
                            {% for curso in usuario.cursos.split(";") %}
                                <button type="button" class="btn btn-secondary mt-2 mx-1" style="box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);" disabled>{{ curso }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}